body{
  margin: 0;
  padding: 0;
}

a{
    list-style: none;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
}

h1{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    margin-top: 150px;
    margin-bottom: 0;

    @media screen and (max-width: 599px) {
        font-size: 36px;
        margin-top: 90px;
    }
}

p{
    margin: 0;
}

.l-pc{
    display: none;

    @media screen and (max-width: 599px) {
        display: block;
    }
}

.l-sp{
    display: none;
}