body{
  margin: 0;
  padding: 0;
}

a{
    list-style: none;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
}

h1{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    margin-top: 52px;
    margin-bottom: 0;
}

p{
    margin: 0;
}