body{
  margin: 0;
  padding: 0;
}

a{
    list-style: none;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
}

h1{
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    margin-top: 150px;
    margin-bottom: 0;

    @media screen and (max-width: 599px) {
        font-size: 36px;
        margin-top: 90px;
    }
}

p{
    margin: 0;
}

.l-pc{
    display: none;

    @media screen and (max-width: 599px) {
        display: block;
    }
}

.l-sp{
    display: block;
    @media screen and (max-width: 599px) {
        display: none;
    }
}

// fadeIn
.fade{
    opacity: 0;
    animation: 1s fadeIn forwards;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.fade_img{
    opacity: 0;
    animation: 1s fadeInImg forwards;
}
@keyframes fadeInImg {
    0% {opacity: 0}
    100% {opacity: 0.8}
}
.fade1{
    animation-delay: 0.5s;
}
.fade2{
    animation-delay: 1.5s;
}
.fade3{
    animation-delay: 2.5s;
}
.fade4{
    animation-delay: 2.7s;
}
.fade5{
    animation-delay: 2.9s;
}
.fade6{
    animation-delay: 3.1s;
}
.fade7{
    animation-delay: 3.3s;
}
.fade8{
    animation-delay: 3.5s;
}
.fade9{
    animation-delay: 3.7s;
}
.fade10{
    animation-delay: 3.9s;
}
.fade11{
    animation-delay: 4.1s;
}
.fade12{
    animation-delay: 4.3s;
}
.fade13{
    animation-delay: 4.5s;
}
.fade14{
    animation-delay: 4.7s;
}
.fade15{
    animation-delay: 4.9s;
}
.fade16{
    animation-delay: 5.1s;
}
.fade17{
    animation-delay: 5.3s;
}
.fade18{
    animation-delay: 5.5s;
}